{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>this app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Outfit:wght@300&family=Roboto:wght@100;300&family=Ruda&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'activity.css' %}" />
  </head>

  <body style="background-color: #1A222D;">
    <div class="home-div">
        <a href="{% url 'index' %}" class="home-btn">Home</a>
    </div>

    <div class="wrapper">
    <form method="post" action="{% url 'add_activity' %}">
        {% csrf_token %}
        <label for="activity">Add Activity:</label>
        <input type="text" id="activity" name="name" required>
        <button type="submit" class="submit-btn">Add</button>
    </form>
</div>
<br>


<!-- <h2 class="acti">Your Activities:</h2> -->
<div class="list">
<ul>
    {% for activity in activities %}
        <li>{{ activity.name }}</li>
    {% endfor %}
</ul>
</div>
</body>
</html>